*,*::after,*::before{
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    font-family:'Lexend Deca', sans-serif;
    font-size: 15px;
}
p{
    padding: 0;
    margin: 0;
}

.cardOne{   
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    height: 24em;
    width: 17em;
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius :.5em;
    border-top-left-radius: .5em;
    
}

.cardTwo{
    padding-left: 2em;
    padding-top: 2em;
    height: 24em;
    width: 17em;
    background-color:  hsl(184, 100%, 22%);
}

.cardThree{
    padding-left: 2em;
    padding-top: 2em;
    height: 24em;
    width: 17em;
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
.card{
    font-family:'Lexend Deca', sans-serif;
}

.btn{
    background-color: #fff;
    border-radius: 2em;
    border: hidden;
    padding: 1em;
    width: 9em;
}
